body{
	margin: auto;
}
table{
	border: 1px solid black;
	text-align: left;
}
td{
	border: 1px solid black;
	padding-right: 10px;

}
thead{
	background-color: black;
	color: white;
}
body {
	width: 85%;
	margin: auto 0;

}